/* Links */
a,
a:focus,
a:hover {
  color: #514E40;
}

/*
 * Base structure
 */
html,
body {
  background-color: #ECE7E2;
  color: #514E40;
  height: 100%;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  width: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

/* Padding for spacing */
.inner {
  padding: 5px;
}

.cover-container .img-responsive {
  margin: 0 auto;
}

footer {
  margin-top: 20px;
}

.footer {
  font:  12px/1.25em Tahoma,Verdana,Segoe,sans-serif;
  font-weight: 500;
  letter-spacing: 1.1px;
  margin-bottom: 20px;
  margin-top: 20px;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Start the vertical centering */
  .site-wrapper-inner {
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
  }
  /* Handle the widths */
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .cover-container {
    text-align: left;
    width: 720px;
  }
}

/*
 * Copy styling
 */
.cover-heading {
    font-family: Tahoma,Verdana,Segoe,sans-serif;
    margin-top: 0px;
    margin-bottom: 5px;
    color: #514E40;
}

.cover-subtitle {
    margin-top: 0px;
    margin-bottom: 15px;
    font-family: Tahoma,Verdana,Segoe,sans-serif;
    letter-spacing: 1.5px;
    color: #7E8E86;
    font-style: italic;
    font-size: 20px;
}

.about {
  text-align: center;
}

@media (min-width: 992px) {
  .about {
    text-align: left;
  }
}

.about p {
  font:  16px/1.0em "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  letter-spacing: 1.1px;
  line-height: 1.4;
  margin-bottom: 15px;
}

.about p > a {
  text-decoration: underline;
}

.bio {
  margin-top: 20px;
}

.social-icons .fa {
  color: #7E8E86;
  font-size: 2.2em;
}

.social-icons > a {
  margin-left: 20px;
}

.social-icons > a:first-child {
  margin-left: 0px;
}

.widgets {
  margin-top: 20px;
}
