html {
  min-height: 100%;
  position: relative;
}

body {
  background-color: #ECE7E2;
  color: #514E40;
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}

.body-content {
  padding-bottom: 80px;
}

.footer {
  bottom: 0;
  font:  12px/1.25em Tahoma,Verdana,Segoe,sans-serif;
  font-weight: 500;
  height: 40px; /* Set the fixed height of the footer here */
  letter-spacing: 1.1px;
  position: absolute;
  width: 100%;
}

footer {
  margin-top: 20px;
}

/* Links */
a,
a:focus,
a:hover {
  color: #514E40;
  text-decoration: underline;
}
