---
import StandardLayout from '@layouts/Standard.astro';
import getOutdoorPagesCollection from 'src/lib/getOutdoorPagesCollection';

const allOutdoorsPages = await getOutdoorPagesCollection();
const uniqueTags = [...new Set(allOutdoorsPages.map((outdoorsPage) => outdoorsPage.data.tags).flat())];
---

<StandardLayout
  windowTitle="Outdoor tags | dwightgunning.com" 
  metaTitle={`Outdoor activities by tag`} 
  metaDescription={`A quick list of all the tags, along with links, to easily browse the various outdoor activities found on the site.`}
  pageHeading="Tags"
  showFooterNav={true}
>
  <div>
    <p class="mb-3">All outdoor activities on the site can be browsed by tag.</p>
    <p class="mb-3">The aim for every activity is to share a description along with maps, gpx trails, photos and other useful information, that'll give an impression from my experience and be helpful to others looking to enjoy the same locations and areas. Use the links below to jump to a tag that takes your interest.</p>
    <ul class="mb-3">
    {
      uniqueTags.sort().map((tag) => (
        <li class="list-disc list-inside">
          <a href={`/outdoors/tags/${tag}/`}>{tag}</a>
        </li>
      ))
    }
    </ul>
  </div>
</StandardLayout>
