{% extends 'base.html' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'css/regular.css' %}">
{% endblock %}

{% block content %}
  <div class="container body-content">
    <div class="col-md-12">
      <h1>Now <span class="small">(as of 22nd November, 2017)</span></h1>
      <h2>Where am I now?</h2>
      <p>Currently in Peja, Kosovo - 2017-11-22</p>
      <h2>What am I reading?</h2>
        <p>Ego is the enemy, by Ryan Holiday</p>
      <h2>What am I working on</h2>
      <p>I'm currently a Developer Evangelist with <a href="https://getstream.io">Stream</a>.</p>
      <h2>What do I look like?</h2>
      <p>During a recent trip to Bulgaria to facilitate a Startup Weekend...</p>
      <img class="img img-responsive img-rounded" src="{% static '/img/dwight_blagoevgrad.png' %}" alt="Dwight in Blagoevgrad">
      <h2>What am I planning?</h2>
      <ul>
        <li>Some "home improvements" to my apartment in Amsterdam.</li>
        <li>A trip to London for DevRelCon in December.</li>
        <li>A trip back to Australia to catch up with family and friends.</li>
      </ul>
    </div>
  </div>
  <footer>
    <div class="footer text-center">
      <div class="container">
        {% include 'partial-footer.html' %}
      </div>
    </div>
  </footer>
{% endblock %}
