---
import StandardLayout from '@layouts/Standard.astro';
---

<StandardLayout
  windowTitle="404: Not Found"
  metaTitle="Not Found"
  metaDescription="Not Found"
  pageHeading="Not Found"
  showFooterNav={true}
  noIndex={true}
>
  <p>Sorry, the requested URL was not found.</p>
</StandardLayout>
