---
import '../styles/tailwindBase.css';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>Design System</title>
  </head>
  <body>
    <div class="m-auto flex flex-row flex-nowrap justify-items-stretch min-h-screen">
      <div class="flex flex-col basis-1/2 bg-white items-end">
        <h1 class="text-lg m-8 text-black">Light</h1>
        <div class="flex flex-col w-full pl-8">
          <div class="surface-bg">
            <div class="p-16 pr-0">
              <div>
                <h1 class="text-black">Palette</h1>
                <div class="m-4">
                  <div class="h-32 surface-low p-4 m-4 text-black">surface-low</div>
                  <div class="h-32 surface-high p-4 m-4 text-black">surface-high</div>
                  <!-- <div class="h-32 surface-high p-4 m-4 text-black">surface-high</div> -->
                  <div>
                    <p class="text-primary">text-primary</p>
                    <p class="text-secondary">text-secondary</p>
                    <p class="text-accent">text-accent</p>
                    <p class="text-success">text-success</p>
                    <p class="text-warning">text-warning</p>
                    <p class="text-error">text-error</p>
                    <p><a class="interactive" href="/design-system">interactive</a></p>
                    <p><a class="interactive-accent" href="/design-system">interactive-accent</a></p>
                  </div>
                  <div class="text-black">
                    <hr />
                    ^ Separator.
                  </div>
                </div>
              </div>
              <div>
                <h1 class="text-black">Kitchen sink</h1>
                <div class="my-16">
                  <h1 class="text-3xl text-primary">Heading #1</h1>
                  <h2 class="text-2xl text-primary">Heading #2</h2>
                  <h3 class="text-xl text-primary">Heading #3</h3>
                  <p class="text-primary">
                    The quick brown fox ... with <a href="/design-system">one</a>, <a
                      class="interactive"
                      href="/design-system">two</a
                    >, <a class="interactive-accent" href="/design-system">three</a> links.
                  </p>
                  <p>
                    <span class="text-primary">text-primary</span> | <span class="text-secondary">text-secondary</span> |
                    <span class="text-accent">text-accent</span> | <span class="text-success">text-success</span> | <span
                      class="text-warning">text-warning</span
                    > | <span class="text-error">text-error</span>
                  </p>
                </div>
                <div class="my-16 surface-low rounded m-4 p-4">
                  <h1 class="text-3xl text-primary">Heading #1</h1>
                  <h2 class="text-2xl text-primary">Heading #2</h2>
                  <h3 class="text-xl text-primary">Heading #3</h3>
                  <p class="text-primary">
                    The quick brown fox ... with <a href="/design-system">one</a>, <a
                      class="interactive"
                      href="/design-system">two</a
                    >, <a class="interactive-accent" href="/design-system">three</a> links.
                  </p>
                  <p>
                    <span class="text-primary">text-primary</span> | <span class="text-secondary">text-secondary</span> |
                    <span class="text-accent">text-accent</span> | <span class="text-success">text-success</span> | <span
                      class="text-warning">text-warning</span
                    > | <span class="text-error">text-error</span>
                  </p>
                </div>
                <div class="my-16 surface-high rounded m-4 p-4">
                  <h1 class="text-3xl text-primary">Heading #1</h1>
                  <h2 class="text-2xl text-primary">Heading #2</h2>
                  <h3 class="text-xl text-primary">Heading #3</h3>
                  <p class="text-primary">
                    The quick brown fox ... with <a href="/design-system">one</a>, <a
                      class="interactive"
                      href="/design-system">two</a
                    >, <a class="interactive-accent" href="/design-system">three</a> links.
                  </p>
                  <p>
                    <span class="text-primary">text-primary</span> | <span class="text-secondary">text-secondary</span> |
                    <span class="text-accent">text-accent</span> | <span class="text-success">text-success</span> | <span
                      class="text-warning">text-warning</span
                    > | <span class="text-error">text-error</span>
                  </p>
                </div>
                <div class="my-16 surface-low rounded m-4 p-4">
                  <div class="surface-high rounded m-4 p-4">
                    <h1 class="text-3xl text-primary">Heading #1</h1>
                    <h2 class="text-2xl text-primary">Heading #2</h2>
                    <h3 class="text-xl text-primary">Heading #3</h3>
                    <p class="text-primary">
                      The quick brown fox ... with <a href="/design-system">one</a>, <a
                        class="interactive"
                        href="/design-system">two</a
                      >, <a class="interactive-accent" href="/design-system">three</a> links.
                    </p>
                    <p>
                      <span class="text-primary">text-primary</span> | <span class="text-secondary">text-secondary</span
                      > | <span class="text-accent">text-accent</span> | <span class="text-success">text-success</span> |
                      <span class="text-warning">text-warning</span> | <span class="text-error">text-error</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col basis-1/2 bg-black items-start">
        <h1 class="text-lg m-8 text-white">Dark</h1>
        <div class="flex flex-col w-full pr-8 dark">
          <div class="surface-bg text-gray-50">
            <div class="p-16 pl-0 text-right">
              <div>
                <h1>Palette</h1>
                <div class="m-4">
                  <div class="h-32 surface-low p-4 m-4 text-white">surface-low</div>
                  <div class="h-32 surface-high p-4 m-4 text-white">surface-high</div>
                  <div>
                    <p class="text-primary">text-primary</p>
                    <p class="text-secondary">text-secondary</p>
                    <p class="text-accent">text-accent</p>
                    <p class="text-success">text-success</p>
                    <p class="text-warning">text-warning</p>
                    <p class="text-error">text-error</p>
                    <p><a class="interactive" href="/design-system">interactive</a></p>
                    <p><a class="interactive-accent" href="/design-system">interactive-accent</a></p>
                  </div>
                  <div class="text-white">
                    <hr />
                    ^ Separator.
                  </div>
                </div>
              </div>
              <div>
                <h1>Kitchen sink</h1>
                <div class="my-16">
                  <h1 class="text-3xl text-primary">Heading #1</h1>
                  <h2 class="text-2xl text-primary">Heading #2</h2>
                  <h3 class="text-xl text-primary">Heading #3</h3>
                  <p class="text-primary">
                    The quick brown fox ... with <a href="/design-system">one</a>, <a
                      class="interactive"
                      href="/design-system">two</a
                    >, <a class="interactive-accent" href="/design-system">three</a> links.
                  </p>
                  <p>
                    <span class="text-primary">text-primary</span> | <span class="text-secondary">text-secondary</span> |
                    <span class="text-accent">text-accent</span> | <span class="text-success">text-success</span> | <span
                      class="text-warning">text-warning</span
                    > | <span class="text-error">text-error</span>
                  </p>
                </div>
                <div class="my-16 surface-low rounded m-4 p-4">
                  <h1 class="text-3xl text-primary">Heading #1</h1>
                  <h2 class="text-2xl text-primary">Heading #2</h2>
                  <h3 class="text-xl text-primary">Heading #3</h3>
                  <p class="text-primary">
                    The quick brown fox ... with <a href="/design-system">one</a>, <a
                      class="interactive"
                      href="/design-system">two</a
                    >, <a class="interactive-accent" href="/design-system">three</a> links.
                  </p>
                  <p>
                    <span class="text-primary">text-primary</span> | <span class="text-secondary">text-secondary</span> |
                    <span class="text-accent">text-accent</span> | <span class="text-success">text-success</span> | <span
                      class="text-warning">text-warning</span
                    > | <span class="text-error">text-error</span>
                  </p>
                </div>
                <div class="my-16 surface-high rounded m-4 p-4">
                  <h1 class="text-3xl text-primary">Heading #1</h1>
                  <h2 class="text-2xl text-primary">Heading #2</h2>
                  <h3 class="text-xl text-primary">Heading #3</h3>
                  <p class="text-primary">
                    The quick brown fox ... with <a href="/design-system">one</a>, <a
                      class="interactive"
                      href="/design-system">two</a
                    >, <a class="interactive-accent" href="/design-system">three</a> links.
                  </p>
                  <p>
                    <span class="text-primary">text-primary</span> | <span class="text-secondary">text-secondary</span> |
                    <span class="text-accent">text-accent</span> | <span class="text-success">text-success</span> |
                    <span class="text-warning">text-warning</span> | <span class="text-error">text-error</span>
                  </p>
                </div>
                <div class="my-16 surface-low rounded m-4 p-4">
                  <div class="surface-high rounded m-4 p-4">
                    <h1 class="text-3xl text-primary">Heading #1</h1>
                    <h2 class="text-2xl text-primary">Heading #2</h2>
                    <h3 class="text-xl text-primary">Heading #3</h3>
                    <p class="text-primary">
                      The quick brown fox ... with <a href="/design-system">one</a>, <a
                        class="interactive"
                        href="/design-system">two</a
                      >, <a class="interactive-accent" href="/design-system">three</a> links.
                    </p>
                    <p>
                      <span class="text-primary">text-primary</span> | <span class="text-secondary">text-secondary</span
                      > | <span class="text-accent">text-accent</span> | <span class="text-success">text-success</span> |
                      <span class="text-warning">text-warning</span> | <span class="text-error">text-error</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
