---
import { Image } from 'astro:assets';

import CenteredLayout from '@layouts/Centered.astro';

import dwightPortraitImage from '@assets/images/dwight-portrait.jpg';
---

<CenteredLayout
  windowTitle="Dwight Gunning"
  metaTitle="Dwight Gunning"
  metaDescription="The personal website of Dwight Gunning"
  canonicalHref={import.meta.env.SITE}
  showFooterNav={true}
>
  <div class="grid grid-cols-2 gap-x-4 gap-y-2">
    <div class="grid col-span-2 sm:col-span-1 content-center justify-center">
      <Image
        alt="Dwight"
        class="object-contain rounded-lg"
        src={dwightPortraitImage}
        sizes="360px"
        width={360}
        height={480}
      />
    </div>
    <div class="grid col-span-2 sm:col-span-1 content-center text-center sm:text-left my-8 sm:my-4">
      <h1 class="text-4xl">Dwight Gunning</h1>
      <h2 class="text-xl text-accent">Software | Product | Technical Leadership</h2>
      <div class="text-center sm:text-left my-4">
        <p class="mb-3">Hi! Thanks for stopping by.</p>
        <p class="mb-3">
          I'm an Australian software engineer and technical leader with an entrepreneurial spirit, based in Amsterdam
          since 2010.
        </p>
        <p class="mb-3">I love building effective teams, solving technical challenges, and shipping great products.</p>
        <p class="mb-3">
          If there's anything here that takes your interest, or something I can help you with, it'd be great to connect.
        </p>
      </div>
      <div class="flex flex-row justify-evenly items-center sm:justify-start sm:gap-4 mx-4 sm:mx-12 sm:mx-0">
        <a
          class="object-contain outline-offset-4"
          href="mailto:dwight@dwightgunning.com"
          target="_blank"
          rel="noreferrer"
          ><img alt="Send email to Dwight" src="/assets/images/at-character.svg" height="32px" width="32px" />
        </a>
        <a
          class="object-contain outline-offset-4"
          href="https://twitter.com/dwightgunning"
          target="_blank"
          rel="noreferrer"
          ><img alt="Dwight on Twitter" src="/assets/images/twitter.svg" height="32px" width="32px" />
        </a>
        <a
          class="object-contain outline-offset-4"
          href="https://nl.linkedin.com/in/dwightgunning"
          target="_blank"
          rel="noreferrer"
          ><img alt="Dwight's LinkedIn profile" src="/assets/images/linked-in.svg" height="32px" width="32px" />
        </a>
        <a
          class="object-contain outline-offset-4"
          href="https://github.com/dwightgunning"
          target="_blank"
          rel="noreferrer"
          ><img alt="Dwight's Github" src="/assets/images/github.svg" height="33px" width="32px" />
        </a>
        <a
          class="object-contain outline-offset-4"
          href="https://stackoverflow.com/users/263421/dwightgunning"
          target="_blank"
          rel="noreferrer"
          ><img
            alt="Dwight's Stack Overflow profile"
            src="/assets/images/stack-overflow.svg"
            height="32px"
            width="32px"
          />
        </a>
      </div>
    </div>
  </div>
</CenteredLayout>
