---
import StandardLayout from '@layouts/Standard.astro';
---

<StandardLayout
  windowTitle="Now: things I am focussed on at this point in life"
  metaTitle="Now: things I am focussed on at this point in life"
  metaDescription="All about Dwight's professional career, personal interests and hobbies, plus a handful of friendly recommendations."
  pageHeading="Now"
  showFooterNav={true}
>
  <p class="text-lg">My answer to the question, “what are you focused on now?”</p>
  <p class="text-lg">As described by Derek Sivers in his announcement of the <a href="https://sive.rs/nowff">/now page movement</a> and on the <a href="https://nownownow.com">nownownow.com</a> project homepage.</p>
  <h2 class="text-2xl">Quick hits</h2>
  <ul class="list-inside list-disc">
    <li>Currently in Amsterdam.</li>
    <li>Tech Lead at <a href="https://interviewing.io">interviewing.io</a>.</li>
    <li>Thinking about open-core startup business models and self-hosting.</li>
    <li>Working on increasing leverage and impact through leadership.</li>
    <li>Running just about as much as ever.</li>
    <li>Weighing up a trip to Manila in September for the FIBA World Cup.</li>
  </ul>
</StandardLayout>
