---
export interface Props {
  heading: string;
}

const { heading } = Astro.props;
---

<div class="rounded surface-low p-6">
  <h4 class="text-accent font-bold">{heading}</h4>
  <p class="mt-2"><slot /></p>
</div>
