{% extends 'base.html' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'css/centered.css' %}">
{% endblock %}

{% block content %}
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="inner cover">
        <div class="col-md-5">
          <img src="/static/img/dwight_amsterdam_tcr.png" class="img-responsive img-rounded">
        </div>
        <div class="col-md-7 about">
          <h1 class="cover-heading">Dwight Gunning</h1>
          <h2 class="cover-subtitle">Tech Adventurer.</h2>
          <div class="bio">
            <p>Hi there and welcome!</p>
            <p>I'm an Australian entrepreneur and software engineer. I love shipping product and working with bright people to solve challenging problems with software.</p>
            <p>I currently work at <a href="https://getstream.io">Stream</a> as a Software Engineer and Developer Evangelist.</p>
            <p>Past startups and side-projects include <a href="https://www.knownly.net">Knownly</a>, <a href="https://www.revirda.com">Revirda</a>, <a href="https://www.slashcard.org">Slashcard</a> and the <a href="https://swftreats.knownly.net">Startup Weekend Map</a>.</p>
          </div>
        </div>
        <div class="col-md-12 text-center widgets">
          <div class="social-icons">
              <a href="mailto:dwight@dwightgunning.com" target="_blank" rel="me"><i class="fa fa-inbox"></i></a>
              <a href="https://twitter.com/DwightGunning" target="_blank" rel="me"><i class="fa fa-twitter-square"></i></a>
              <a href="http://nl.linkedin.com/in/dwightgunning" target="_blank" rel="me"><i class="fa fa-linkedin-square"></i></a>
              <a href="https://github.com/dwightgunning" target="_blank" rel="me"><i class="fa fa-github-square"></i></a>
              <a href="http://stackoverflow.com/users/263421/dwightgunning" target="_blank" rel="me"><i class="fa fa-stack-overflow"></i></a>
          </div>
        </div>
        <div class="col-md-12 text-center">
          <div class="footer">
            {% include 'partial-footer.html' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
