{% extends 'base.html' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{% static 'css/centered.css' %}">
{% endblock %}

{% block content %}
<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="inner cover">
        <div class="col-md-5">
          <img src="./static/img/dwight_amsterdam_tcr.png" class="img-responsive img-rounded">
        </div>
        <div class="col-md-7 about">
          <h1 class="cover-heading">Dwight Gunning</h1>
          <h2 class="cover-subtitle">Tech Adventurer.</h2>
          <div class="bio">
            <p>Hi there and welcome!</p>
            <p>I am an Australian entrepreneur and now split my time between Amsterdam and the Gold Coast.</p>
            <p>In recent years I co-founded two bootstrapped startups and was an early hire at a VC-funded growth startup. Prior to my startups I was a consultant and managed teams that delivered IT solutions for F500 clients.</p>
            <p>My current side-projects are <a href="https://www.knownly.net">Knownly</a> and <a href="http://www.launchsteps.com/">Launch Steps</a>.</p>
          </div>
        </div>
        <div class="col-md-12 text-center widgets">
          <div class="social-icons">
              <a href="mailto:dwight@dwightgunning.com" target="_blank" rel="me"><i class="fa fa-inbox"></i></a>
              <a href="https://clarity.fm/dwightgunning" target="_blank" rel="me"><i class="fa fa-phone-square"></i></a>
              <a href="https://twitter.com/DwightGunning" target="_blank" rel="me"><i class="fa fa-twitter-square"></i></a>
              <a href="https://angel.co/dwightgunning" target="_blank" rel="me"><i class="fa fa-angellist"></i></a>
              <a href="http://nl.linkedin.com/in/dwightgunning" target="_blank" rel="me"><i class="fa fa-linkedin-square"></i></a>
              <a href="https://github.com/dwightgunning" target="_blank" rel="me"><i class="fa fa-github-square"></i></a>
              <a href="http://stackoverflow.com/users/263421/dwightgunning" target="_blank" rel="me"><i class="fa fa-stack-overflow"></i></a>
              <a href="http://www.bitbucket.com/dwightgunning" target="_blank" rel="me"><i class="fa fa-bitbucket-square"></i></a>
              <a href="https://plus.google.com/+DwightGunning_au" target="_blank" rel="me"><i class="fa fa-google-plus-square"></i></a>
              <a href="https://facebook.com/DwightGunning" target="_blank" rel="me"><i class="fa fa-facebook-square"></i></a>
          </div>
          <div class="twitter-wrapper">
            <a class="twitter-timeline" href="https://twitter.com/DwightGunning" data-widget-id="597046689279647744">Tweets by @DwightGunning</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          </div>
          <div style="height: 58px">
            <a href="http://stackexchange.com/users/97035">
              <img src="http://stackexchange.com/users/flair/97035.png" width="208" height="58" alt="profile for dwightgunning on Stack Exchange, a network of free, community-driven Q&amp;A sites" title="profile for dwightgunning on Stack Exchange, a network of free, community-driven Q&amp;A sites">
            </a>
          </div>
        </div>
        <div class="col-md-12 text-center">
          <div class="footer">
            {% include 'partial-footer.html' %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}