---
import StandardLayout from '@layouts/Standard.astro';
import ActivitySummaryCard from '@components/pages/outdoors/ActivitySummaryCard.astro';
import getOutdoorPagesCollection from 'src/lib/getOutdoorPagesCollection';

const allOutdoorsPages = await getOutdoorPagesCollection();
---

<StandardLayout
  windowTitle="Outdoors activities: hikes, runs, rides, camping"
  metaTitle="Memorable hikes, runs, rides, and camping in the outdoors"
  metaDescription="A collection of memorable hikes, runs, bike rides and camping adventures in the outdoors. Tales from the trip, photos, maps and GPX tracks."
  pageHeading="Outdoors"
  showFooterNav={true}
  canonicalHref={`${import.meta.env.SITE}/outdoors/`}
>
  <p class="text-xl">Memorable runs, bike rides, hikes, and campsites.</p>
  <p>
    Activities on this page are ordered by date. You may also like to browse by <a
      class="interactive"
      href="/outdoors/tags/">tag</a
    >.
  </p>
  {allOutdoorsPages.map((outdoorsPage) => <ActivitySummaryCard outdoorsPage={outdoorsPage} />)}
</StandardLayout>
