---
import BaseLayout from '../layouts/Base.astro';
import Header from '../components/Header.astro';
import Footer from '@components/Footer.astro';
import type { Props as BaseTemplateProps } from './Base.astro';

interface Props extends BaseTemplateProps {
  showFooterNav: boolean;
}

const { showFooterNav } = Astro.props;
---

<BaseLayout
  {...Astro.props}
  bodyClass="flex flex-col min-h-screen justify-center max-w-screen-md m-auto"
>
  <Header />
  <main class="flex justify-center grow mt-4">
    <slot />
  </main>
  <Footer showFooterNav={showFooterNav} />
</BaseLayout>
