---
import BaseLayout from '../layouts/Base.astro';
import Header from '../components/Header.astro';
import Footer from '@components/Footer.astro';
export interface Props {
  windowTitle: string;
  metaTitle: string;
  metaDescription: string;
  showFooterNav: boolean;
}

const { windowTitle, metaDescription, metaTitle, showFooterNav } = Astro.props;
---

<BaseLayout
  windowTitle={windowTitle}
  metaTitle={metaTitle}
  metaDescription={metaDescription}
  bodyClass="flex flex-col min-h-screen justify-center max-w-screen-md m-auto"
>
  <Header />
  <main class="flex justify-center grow mt-4">
    <slot />
  </main>
  <Footer showFooterNav={showFooterNav} />
</BaseLayout>
