{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>We're sorry!</h1>
        <p>The page <b id="url"></b> could not be found on this server.</p>
      </div>
    </div>
  </div>
{% endblock content %}

{% block scripts %}
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      // Add the missing url to the text
      $("#url").text(window.location.pathname);
      // Fix the css locations dynamically
      $("head link").each(function() {
        for (var i=0; i<window.location.pathname.split(/\//g).length-2; i++)
          $(this).attr("href", "../" + $(this).attr("href"));
      });
    })
  </script>
{% endblock %}